# Configuration file

dragonarmourers {
    # 是否改变通讯ID(不用理会该选项) [default: false]
    B:ChangeChannel=false

    # 是否将资源文件转到resourcepacks内(入驻网易可能需要修改此选项为true) [default: false]
    B:ChangeSkinLibrary=false

    # 是否显示背包/掉落物的时装模型 [default: true]
    B:ShowItemSkin=true

    # 是否显示手中的时装模型 [default: true]
    B:ShowItemSkinHand=true

    # 是否在物品悬浮信息内显示时装名称 [default: false]
    B:ShowItemSkinTip=false
}


