# Configuration file

"dragongps:qq448780139" {
    # 距离多少米内停止渲染坐标点
    I:distance=2

    # 是否隐藏 坐标点/导航线 的渲染
    B:hidePointRender=false

    # 任务面板滚动框高度
    I:paneHeight=200

    # 任务面板的绘制坐标点
    I:startX=159

    # 任务面板的绘制坐标点
    I:startY=0

    # 导航线绘制图片的高度
    I:textureHeight=350

    # 导航线绘制图片的宽度
    I:textureWidth=260
}


