# Configuration file

general {
    I:animalColor=2263842
    I:backgroundHeight=6
    D:backgroundPadding=2.0
    B:colorByType=false
    B:enableDebugInfo=true
    D:heightAbove=0.6000000238418579
    I:hpTextHeight=14
    I:maxDistance=24
    I:mobColor=14423100
    I:plateSize=25
    D:plateSizeBoss=50.0
    B:showCurrentHP=true

    # 显示血条
    B:showHealthBar=true
    B:showMaxHP=true
    B:showOnBosses=true
    B:showOnPlayers=false
    B:showPercentage=true
}


