# Configuration file

general {

    ##########################################################################################################
    # graphicquality
    #--------------------------------------------------------------------------------------------------------#
    # 图形质量设置
    ##########################################################################################################

    graphicquality {
        # 是否显示庄园mod的粒子效果
        B:showParticle=true
    }

}


