# Configuration file

animated {
    B:player=true
}


dragonarmourers {
    B:EnableMoBends=false
}


general {
    S:"Current Pack"=none
    B:mobends.setting.arrow_trails=true
    B:mobends.setting.spin_attack=true
    B:mobends.setting.sword_trail=true
}


